{% extends 'base.html' %}

{% load static  %}


{% block content  %}


    <div class="hero-wrap hero-bread" style="background-image:url('{% static 'images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
						<h2 class="mb-3">{{ object }}</h2>
            <p>{{ object.description }}</p>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                  {% for tag in tags  %}
                <a href="#" class="tag-cloud-link">{{ tag }}</a>
                {% endfor %}
               
              </div>
            </div>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio align-self-md-center mr-4">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc align-self-md-center">
                <h3>Lance Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">Comments</h3>
              <div id="disqus_thread"></div>
              <!-- END comment-list -->
         
            </div>
          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="{% url 'blog:post_list' %}" method='GET' class="search-form">
                <div class="form-group">
                  <span class="icon ion-ios-search"></span>
                  <input type="text"name='q' class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading">Categories</h3>
              <ul class="categories">
              {% for category in categories  %}
                <li><a href="#">{{ category }} <span>{{ category.post_count }}</span></a></li>
              {% endfor %}
               
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Recent Blog</h3>
              {% for post in recent_posts  %}
              <div class="block-21 mb-4 d-flex">
                  <a class="blog-img mr-4" style="background-image: url({{ post.image.url}});"></a>
                  <div class="text">
                      <h3 class="heading-1"><a href="#">{{ post }}</a></h3>
                      <div class="meta">
                          <div><a href="#"><span class="icon-calendar"></span> {{ post.created_at|date:'F j Y'}}</a></div>
                          <div><a href="#"><span class="icon-person"></span> {{post.author }}</a></div>
                    
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Tag Cloud</h3>
              <div class="tagcloud">
                  {% for tag in tags  %}
                <a href="#" class="tag-cloud-link">{{ tag }}</a>
                {% endfor %}
              
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->


    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      
        var disqus_config = function () {
        this.page.url = "https://127.0.0.1:8000/{{post.get_absolute_url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{post.pk}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
       
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://airbnb-11.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script id="dsq-count-scr" src="//airbnb-11.disqus.com/count.js" async></script>

    {% endblock content %}